*{
    margin: 0px;
    padding: 0px;
}

/* Navigation Bar */
#navbar{
    margin: 25px;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.nav-item-link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.nav-item-link:hover{
    text-decoration: underline;
    color: #5f6368;
}

#sign-in{
    font-size: 14px;
    background-color: #4285f4;
    color: azure;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
}


.nav-items{
    margin: 12px;
}



/* Logo And Search Bar */

.main{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.mains{
    padding-top: 30px;
}

.main-logo{
    margin-bottom: 30px;
}

.main-search{
    margin: 0px auto;
    border: 1px solid #dfe1e5;
    width: 575px;
    border-radius: 30px;
}


.main-search:hover{

    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#search{
    height: 45px;
    border: none;
    width: 500px;
    font-size: 16px;
    outline: none;
    margin-left: 20px;
}

.voice {
    height: 20px;
    position: relative;
    top: 5px;
    left: 10px;
}



.main-button{
    margin-top: 22px;
}

.btn{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-decoration: none;
    color: #5F6368;
    background-color: #f2f2f2;
    font-family: Arial,sans-serif;
    /* font-size: 14px; */
    margin: 5px;
    padding: 14px;
    border-radius: 4px;
}

.btn:hover{
    background-color: #f8f8f8;
    color: #222;
    border: 1px solid #c6c6c6;
}


footer{
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0px;
    padding: 10px 0px;
    width: 100%;
    height: 25px;
}

 
.fli{
padding: 0px 10px;
}

.footerleft{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    float: left;
    padding: 10px;
}


.footerright{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    float: right;
    padding: 10px;
}

.footer-link{
    text-decoration: none;
    color: #5f6368;   
}

.footer-link:hover{
    text-decoration: underline;
}